<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="regex,regular expressions,regex calculator,regular expressions calculator,regex help,regex cheatsheet,regex javascript,regex js,learning regex,regex tutorials,what is regex" />
        <meta name="description" content="A learning calculator for regular expressions, designed for students, beginners, and the curious." />
        <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        @* declaring urls in main body of app for use in js files *@
        @Html.Hidden("linkURL", Url.Action("getLinks", "Root"))
        @Html.Hidden("contentURL", Url.Action("getContent", "Root"))
        @Html.Hidden("keyURL", Url.Action("getKeywords", "Root"))
        @* top nav bar, fixed *@
        <div id="top-nav" class="navbar navbar-dark navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
                <a id="calc-logo" class="pull-left" style="margin-left: 8px; margin-right: 4px;"><img src="~/Content/logo-thicker.png" /></a>
                <a class="navbar-brand">RegCalc</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a tabindex="" class="dropdown-toggle" role="button" data-toggle="dropdown">Navigation</a>
                    <ul class="dropdown-menu">
                        <li><a tabindex="" id="engine-link" class="btn btn-secondary" role="button">The Regular Expressions Engine</a></li>
                        <li><a tabindex="" id="calc-link" class="btn btn-secondary" role="button">Calculator</a></li>
                        <li><a tabindex="" id="lang-link" class="btn btn-secondary" role="button">Regular Languages and Finite Automata</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a tabindex="" class="dropdown-toggle" role="button" data-toggle="dropdown">Help</a>
                    <ul class="dropdown-menu" id="help-menu"></ul>
                </li>
                <li class="dropdown">
                    <a tabindex="" class="dropdown-toggle" data-toggle="dropdown">Regex Resources</a>
                    <ul class="dropdown-menu">
                        <li><a tabindex="" id="cheat-link" class="btn btn-secondary" role="button">Cheatography</a></li>
                        <li><a tabindex="" id="info-link" class="btn btn-secondary" role="button">Regular-Expressions.Info</a></li>
                        <li><a tabindex="" id="egg-link" class="btn btn-secondary" role="button">RexEgg</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a tabindex="" class="dropdown-toggle" data-toggle="dropdown">About me</a>
                    <ul class="dropdown-menu">
                        <li><a tabindex="" id="about-link" class="btn btn-secondary" role="button">About Me</a></li>
                        <li><a tabindex="" id="mail-link" class="btn btn-secondary" role="button">Email Me</a></li>
                        <li><a tabindex="" id="git-link" class="btn btn-secondary" role="button">Github</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        @* left nav bar, collapsable *@
        <div id="side-nav" class="navbar navbar-inverse navbar-left side-nav pull-left">
            <div class="navbar-header"><a id="nav-title" class="navbar-brand"></a></div>
            <ul id="side-list" class="nav"></ul>
        </div>
        @Html.Partial("_Overlay")
        <div id="body" class="container body-content">
            @RenderBody()
        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/layout")
        @RenderSection("scripts", required: false)
    </body>
</html>
